.font11{
  font-size: 11px;
}
.font12{
  font-size: 12px;
}
.font13{
  font-size: 13px;
}
.font16{
  font-size: 16px;
}
.font17{
  font-size: 17px;
}
.font18{
  font-size: 18px;
}
.font20{
  font-size: 20px;
}
.font34{
  font-size: 34px;
}
.branco{
  color: #ffffff;
}
.cinza-clarinho{
  color: #737373;
}
.quase-preto{
  color: #222121;
}
.fw-bold{
  font-weight: 700;
}
.fw-light{
  font-weight: 300;
}
.fw500{
  font-weight: 500;
}
.ff-josefin-sans{
  font-family: 'Josefin Sans', sans-serif;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px; 
}
input, select{
  height: 65px;
  padding: 0 0 0 20px;
  font-size: 18px;
  color: #444444;
  border: solid 1px #E0E0E0;
  width: 100%;
}
input[type=checkbox]{
  height: 16px;
  width: 16px;
}
label{
  color: #868686;
  font-weight: 600;
  line-height: 16px;
  padding: 0;
  margin-right: 8px;
}

.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.mx-auto{
  margin-left: auto;
  margin-right: auto;
}
.botao-padrao{
  margin-top: 10px;
  max-width: 100%;
  min-width: 342px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #166DB2;
  font-weight: bold;
  padding: 0 40px;
  border: 0;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
}
.botao-padrao:hover{
  background-color: #3E89C8;
}
.container{
  width: 1366px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}
.breadcrumbs{
  padding: 30px 15px;
}
.breadcrumbs a:hover{
  text-decoration: underline;
}
.d-block{
  display: block;
}
.w-100{
  width: 100%;
}
.w-50{
  width: 50%;
}
.row{
  display: flex;
}
.mb-3{
  margin-bottom: 24px;
}
.text-center{
  text-align: center;
}
.text-end{
  text-align: end;
  text-align: -webkit-right;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}