.font11{
  font-size: 11px;
}
.font12{
  font-size: 12px;
}
.font13{
  font-size: 13px;
}
.font16{
  font-size: 16px;
}
.font17{
  font-size: 17px;
}
.font18{
  font-size: 18px;
}
.cinza-clarinho{
  color: #737373;
}
.quase-preto{
  color: #222121;
}
.fw-bold{
  font-weight: 700;
}
.fw-light{
  font-weight: 300;
}
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
[class*="col-"] {
  float: left;
  padding: 15px; 
}
input, select{
  height: 65px;
  padding: 0 20px;
  font-size: 18px;
  color: #444444;
  border: solid 1px #E0E0E0;
  width: 100%;
}
.d-block{
  display: block;
}
.mb-3{
  margin-bottom: 24px;
}
.text-center{
  text-align: center;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}