.header-sec{
  height: 114px;
  border-bottom: solid 1px #E0E0E0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 100;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.061);
}
.header-sec .container{
  position: relative;
  display: flex;
  padding: 0 40px;
  align-items: flex-end;
}
.header-sec .professor-logado{
  position: absolute;
  right: 45px;
  top: 5px;
  color: #737373;
  font-weight: normal;
}
.professor-logado a:hover{
  text-decoration: underline;
}
.header-sec nav ul{
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}
.header-sec nav ul li a{
  margin: 0 10px;
  padding: 0 20px;
  display: block;
  line-height: 70px;
  text-decoration: none;
  font-size: 18px;
  text-transform: capitalize;
  border-bottom: solid 6px transparent;
}
.header-sec nav a:hover{
  color:#222121;
  border-bottom: solid 6px #166DB2;
}
a.active{
  border-bottom: solid 6px #166DB2 !important;
}
.login{
  /* line-height: 100% !important; */
  border: solid 1px #E0E0E0;
  padding: 14px 22px;
  display: block;
  height: fit-content;
  margin-bottom: 15px;
  min-width: 127px;
}
.login span{
  padding-right: 10px;
}
.login:hover{
  border: solid 1px #166DB2;
}
.top,.mid,.bottom{
  display: none;
}
footer{
  border-top: solid 1px #E0E0E0;
  background-color: #135785;
  width: 100%;
}
footer *{
  color: #fff;
}
footer .mail{
  margin-right: 8px;
}
footer a:hover{
  text-decoration: underline;
}
footer .container{
  padding: 0 10px;
}
footer .sociais{
  width: 180px;
}
footer .linha100{
  width: 100%;
  height: 1px;
  background-color: #fff;
}
footer{
  position: relative;
  overflow: visible;
}
footer form{
  background-color: #09415F;
  padding: 68px 90px 40px;
  width: calc(100% - 240px);
  margin: 0 auto;
  position: absolute;
  left: 120px;
  top: -260px;
}
footer input::placeholder{
  color: #fff;
}
footer form .w-50{
  padding: 15px;
}
footer form h2{
  padding-left: 15px;
  font-size: 34px;
  font-weight: bold;
}
footer form h4{
  padding: 15px;
  font-size: 20px;
  font-weight: 300;
}
footer form input{
  background-color: transparent;
}
.footer-foot{
  min-height: 80px;
}
.footer-grande{
  padding-top: 150px;
  padding: 150px 8% 60px;
}
.footer-grande .categoria-curso{
  margin-bottom: 8px;
}
.footer-grande h3{
  padding-left: 15px;
}
.footer-grande .w-50{
  padding: 0 15px;
}
.footer-grande a:hover{
  color: #fff;  
}
.footer-grande ul{
  list-style-type: none;
}
.footer-grande .linha100{
  margin-top: 22px;
  margin-bottom: 22px;
}
.footer-grande ul li{
  padding: 3px;
}
.footer-grande ul li.categoria {
}
.footer-grande h3{
  font-size: 25px;
  font-weight: bold;
}
@media (max-width: 992px){
  .mobile-menu{
    display: block;
    background-color: #166DB2;
    height: 57px;
    width: 120px;
    position: relative;
    margin: auto 0;
  }
  .top,.mid,.bottom{
    display: block;
    position: absolute;
    left: calc(50% - 25px);
    height: 4px;
    width: 50px;
    background-color: #ffffff;
  }
  .top{
    top: 17px;
  }
  .mid{
    top: 27px;
  }
  .bottom{
    top: 37px;
  }
  .mobile-menu nav{
    max-height: 0;
    overflow: hidden;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.061);
    background-color: #ffffff;
    width: fit-content;
    position: absolute;
    top: 58px;
    right: 0;
    min-width: 200px;
  }
  .mobile-menu nav ul{
    padding: 30px;
    align-items: flex-end;
    flex-direction: column;
  }
  .mobile-menu nav ul a{
    padding-right: 0;
    line-height: 40px;
    margin-bottom: 15px;
  }
  .mobile-menu:hover nav{
    border: solid 1px #E0E0E0;
    height: fit-content;
    max-height: 600px;
  }
  .login {
    margin: auto 0;
  }
  footer{
    padding: 15px;
  }
  footer .container{
    flex-direction: column;
    align-items: center;
  }
  footer .hifen{
    display: none;
  }
  footer .direitos{
    text-align: center;
    padding-bottom: 15px;
    flex-direction: column;
  }
  footer .direitos strong{
    padding-top: 10px;
  }
}
