#landing {
  min-height: 100vh;
  padding-left: 30px;
  padding-right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../images/home-landing-1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#introducao {
  padding: 60px 8%;
  background-color: #186CB0;
}

#info {
  position: relative;
  overflow-x: hidden;
}

#info .previous,
#info .following {
  position: absolute;
  top: 40%;
  color: #ffffff;
  font-size: 500%;
  z-index: 2;
  cursor: pointer;
}

#info .previous {
  left: 5%;
}

#info .following {
  left: 90%;
}

#info .carousel {
  width: 300vw;

  display: flex;

  background-color: #0B415E;

  transform: translateX(-100vw);
}

#info .previous:active + .carousel {
  transform: translateX(0vw);
}

#info .following:active + .previous + .carousel {
  transform: translateX(-200vw);
}

#info .carousel [class^="slide-"] {
  width: 100vw;
}

#info .carousel [class^="slide-"] figure {
  background-color: #155684;
}

#info .carousel [class^="slide-"] figure img {
  margin-top: -3%;
  margin-bottom: -3%;
}

#info .carousel [class^="slide-"] .text {
  padding: 6% 8% 60px;

  background-color: #0B415E;
}

#info .carousel [class^="slide-"] .text li {
  color: #ffffff;
}

#conheca-nossos-cursos {
  padding: 60px 8%;
  background-image: url(../images/home-know-our-courses.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#objetivos {
  padding-top: 60px;
}

#objetivos .grid-row {
  padding-left: 30px;
  padding-right: 30px;

  display: grid;
  grid-auto-flow: column;
  gap: 30px;
}

#objetivos .box {
  padding: 30px;

  background-color: #2D647D;

  text-align: center;
}

#news {
  padding-top: 60px;
  padding-bottom: 45px;
}

#news .no-padding {
  padding: 0;
}

#news .justify-content-end {
  justify-content: flex-end;
}

@media screen and (max-width: 900px) {
  #landing figure {
    width: 100vw;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  #landing figure img {
    width: -moz-available;
    width: -webkit-fill-available;
  }

  #info .carousel [class^="slide-"] figure img {
    width: -moz-available;
    width: -webkit-fill-available;
  }
}