
* {
  outline: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  font-family: "Heebo", sans-serif;
  color: #444444;
}
a{
  text-decoration: none;
}
a:hover{
  color: #222121;
}
body{
  padding-top: 114px;
}
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
.container{
  width: 1366px;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}