.margin-bottom {
  margin-bottom: 50px;
}

#about .box {
  padding: 30px;

  background-color: #E0E0E0;
}

#about .box h3,
#about .box p {
  color: #2D647D;
}

#about .grid-row {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

#other-courses {
  padding-top: 50px;
  padding-bottom: 60px;
  margin-top: 45px;

  background-color: #135785;
}

#other-courses .grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

#other-courses .box {
  padding: 30px;

  gap: 10px;

  background-color: #166DB2;
}